@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), 'Helvetica Neue', 'sans-serif';
  --font-serif: var(--font-bodoni), 'Didot', 'Georgia', 'serif';
}

:root {
  --page-bg: #DFDFDF;
  /* The subtle blue-gray OUTSIDE the frame */
  --frame-bg: #ffffff;
  /* The stark white INSIDE the frame */
  --text-color: #000000;
  --frame-padding: clamp(0.5rem, 4vw, 3rem);
}

body {
  cursor: none;
  background-color: var(--page-bg);
  color: var(--text-color);
  padding: var(--frame-padding);
  /* The outer frame gap */
}